@import "../../../styles/variables.scss";

.cardWrapper {
    width: 240px;
    height: 195px;
    border-radius: 5px;
    border: 1px solid $card-border;
    background-color: $card-body-bg;
    padding: 0px 10px 0px 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

    &:hover {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    }
}