@import "../../styles/variables.scss";

.cardBody {
    .title {
        font-weight: 600;
        font-size: 18px;
        display: block;
        padding: 4px 0px;
        color: $card-title-text;
    }

    .intents {
        font-size: 14px;
        display: block;
        padding-bottom: 5px;
        color: $card-subtext;
    }

    padding: 0px 10px 0px 10px;
}