@import "../../../../styles/variables.scss";

.cmCardFooter {
    background-color: $card-footer-bg;
    color: $card-subtext;
    padding-left: 14px;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-top: 27px;
    border-radius: 0px 0px 5px 5px;
}