@import "../../../../styles/variables.scss";

.header {
    font-size: 14px;
    font-weight: bold;

    .automated {
        display: flex;
        color: $automated-origin-text;
    }

    .manual {
        color: $manual-origin-text;
    }
}