@import "../../styles/variables.scss";

.searchContainer {
    margin-top: 35px;
    max-width: 725px;
    width: 50%;
    display: flex;
    align-items: center;

    .searchInput {
        padding: 8px 12px;
        border: 1.5px solid $view-btn-color;
        border-radius: 5px;
        font-size: 16px;
        width: 100%;

        &:focus {
            outline: none;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        }
    }
}